<div class="col-sm-6 col-md-3">
  <%= form_tag '/carts', remote: true do |f| %>
    <div class="pro">
        <div class="ov-img">
          <%= link_to image_tag(product.image.url, 
            alt: t("alt.product_image"), 
            class: "img-responsive"), [:admin, product] %>
        </div>
        <div class="profile">
          <div class="product-rate" data-score="<%= product.average_rate %>"></div>
          <%= link_to product.name, product, class: "name" %>
          <%= link_to t("button.delete"), admin_product_path(product),
            class: "inline-btn btn btn-success", method: :delete,
            data: { confirm: t("confirm.are_you_sure") }, remote: true %>
          <%= link_to t("button.edit"), edit_admin_product_path(product),
            class: "inline-btn btn btn-danger" %>
        </div>
    </div>
    <% end %>
</div>